CONFIG_ARM=y
# CONFIG_BOARD_INIT is not set
CONFIG_COUNTER_FREQUENCY=13000000
CONFIG_POSITION_INDEPENDENT=y
CONFIG_ARCH_MEDIATEK=y
CONFIG_NR_DRAM_BANKS=1
CONFIG_SYS_LOAD_ADDR=0x80000000
CONFIG_OF_UPSTREAM=y
CONFIG_CLK=y
CONFIG_MMC_MTK=y
CONFIG_PINCTRL=y
CONFIG_PINCONF=y
CONFIG_PINCTRL_MT8195=y
CONFIG_BAUDRATE=921600
CONFIG_DM_SERIAL=y
CONFIG_MTK_SERIAL=y
CONFIG_WDT=y
CONFIG_WDT_MTK=y
CONFIG_CROS_EC=y
CONFIG_DEFAULT_DEVICE_TREE="mediatek/mt8196-rauru-navi-sku0"
CONFIG_TARGET_MT8196=y
CONFIG_IDENT_STRING="mt8196-rauru-navi"

# Useful CMDs
CONFIG_CMD_CLK=y
CONFIG_CMD_GPT=y
CONFIG_CMD_MMC=y
CONFIG_CMD_PART=y
CONFIG_CMD_FAT=y
CONFIG_CMD_FS_GENERIC=y
CONFIG_CMD_EFIDEBUG=y

# Memory map
CONFIG_MTK_MEM_MAP_DDR_BASE_PHY=0x80000000
CONFIG_MTK_MEM_MAP_DDR_SIZE=0x20000000
CONFIG_MTK_MEM_MAP_MMIO_SIZE=0x40000000

# vidconsole
CONFIG_SYS_CONSOLE_IS_IN_ENV=y
CONFIG_SYS_CONSOLE_ENV_OVERWRITE=y
CONFIG_REQUIRE_SERIAL_CONSOLE=n
CONFIG_VIDEO=y
CONFIG_VIDEO_MTKFB=y
CONFIG_SYS_WHITE_ON_BLACK=y

# USB keyboard and gadgets
CONFIG_USB=y
CONFIG_USB_MUSB_GADGET=y
CONFIG_USB_MUSB_MT85XX=y
CONFIG_USB_MTU3=y
CONFIG_USB_GADGET=y
CONFIG_USB_STORAGE=y
CONFIG_DM_KEYBOARD=y
CONFIG_USB_KEYBOARD=y
CONFIG_USB_HOST=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_XHCI_MTK=y
CONFIG_USB_EHCI_GENERIC=y
CONFIG_CMD_USB=y

# Start USB and find keyboard at boot
CONFIG_USE_PREBOOT=y
CONFIG_PREBOOT="usb start; sleep 1; setenv stdin usbkbd"

# DTB is big
CONFIG_SYS_INIT_SP_BSS_OFFSET=0x160000
